@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            This app has the email provider service disabled for demonstration purposes. To enable it, 
            modify the Identity\Pages\Account\RegisterConfirmation files to remove the current page render logic, 
            as well as uncomment the IEmailSender dependency injection in Program.cs.
            Optionally, see <a href="https://aka.ms/aspaccountconf">these docs</a> for Microsoft's advice on configuring an email sender.
        </p>
        <p>
            Normally, this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}

