<div>
    <h2>Role and User Manager</h2>

    <br />

    <div align="center">
        <a asp-controller="RoleManager" asp-action="RoleIdDescription" class="btn btn-primary">
            User Role Descriptions & Id's
        </a>

        <a asp-controller="RoleManager" asp-action="DisplayUsers" class="btn btn-primary">
            List All Users
        </a>
    </div>

</div>

<br />
<br />


<div class="btn-block text-center">

    <a href='javascript:history.go(-1)' class="btn btn-outline-dark text-dark">Previous Page</a>
    <a asp-controller="SongManager" asp-action="Index" class="btn btn-secondary">Back To Main Menu</a>

</div>