@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Role Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Role Manager</h2>

<table class="table table-striped m-md-0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />

<div class="btn-block text-center">

    <a href='javascript:history.go(-1)' class="btn btn-outline-dark text-dark">Previous Page</a>
    <a asp-controller="SongManager" asp-action="Index" class="btn btn-secondary">Back To Main Menu</a>

</div>